@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&display=swap');

@import "tailwindcss";
*{
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}


.cormorant {
  font-family: 'Cormorant Garamond', serif;
}

.stats-font{
  font-family: 'EB Garamond', serif;
  font-size: 4rem;
}

.button_hvr:hover {
background-color: transparent;
border: 2.2px solid #908DDC;
font-weight: 600;
color: #908DDC;
}

.nav-txt{
  font-size: 1rem;
}

.expert-tab{
  width: fit-content;
  margin: auto;
  font-size: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-decoration: underline overline dotted;
  text-underline-offset: 6px;
}

.store-hvr:hover{
  border: 0.8px solid white;
  color: white;
  background-color: black;
}

/* Scrollbar for WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6; /* Tailwind gray-100 */
}

::-webkit-scrollbar-thumb {
  background-color: #7571ec; /* Tailwind blue-500 */
  border-radius: 8px;
  border: 2px solid #f3f4f6; /* Matches track for padding effect */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #524fac; /* Tailwind blue-600 or 700 */
}

